## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Bb]uild[Ll]og.*
*.dll
*.exe
*.pdb

## Publicacion / instalador
publish/
installer/output/

## SQLite
*.db
*.db-shm
*.db-wal

## OS
Thumbs.db
Desktop.ini
.DS_Store

## IDE
.idea/
*.swp
*~
